<%= form_with(model: member, local: true) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :member_name %>
  </div>

  <div class="field">
    <%= form.label :donation_date %>
    <%= form.date_select :donation_date, id: :member_donation_date %>
  </div>

  <div class="field">
    <%= form.label :donation %>
    <%= form.number_field :donation, id: :member_donation %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'button'%>
  </div>
<% end %>
